
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIEW_2</title>
</head>
<body>
    <div>
        <h1>Pagina 2 QUIQUE</h1>
        <a href="/Practica_1/Index">Vista 1</a>
        <a >Vista 2</a>
        <a href="/Practica_1/Vista_2">Vista 3</a>
    </div>
</body>
</html>
