
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>data_address_view</title>
</head>
<body>
    <div> 
        <form>
            <table>
                <tr>
                    <td>Calle</td>
                    <td>
                        <input type="text" name="street" id="Street" />
                    </td>
                </tr>
                <tr>
                    <td>Colonia</td>
                    <td>
                        <input type="text" name="colonia" id="Colonia" />
                    </td>
                </tr>
                <tr>
                    <td>Delegacion</td>
                    <td>
                        <input type="text" name="delegacion" id="Delegacion" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/Menu/menu_view/"> Menu</a>
                    </td>
                    <td>
                        <input type="submit" value="Aceptar" formaction="/Menu/data_address" />
                    </td>
                </tr>
            </table>
        </form>
       
    </div>
</body>
</html>
