
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>direccion</title>
</head>
<body>
    <div>
        <h1>Mi direccion es:</h1>
        <h2>@TempData["address"]</h2>
        <a href="/Menu/menu_view">Menu</a>
    </div>
</body>
</html>
