
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>menu_view</title>
</head>
<body>
    <div>
        <h1>  MENÚ  </h1>
        <a href="/Menu/data_name">Nombre</a>
        <a href="/Menu/data_address_view/">Dirección</a>
    </div>
</body>
</html>
